.title {
  width: 10rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 3rem;
  margin: 0%;
  border-right: solid lightgray 1px;
}

.dashboardContainer {
  margin: 1rem;
  width: 100%;
  text-align: center;
  align-items: center;
}

.horizontalTopContainer {
  display: flex;

  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;

  padding: 1.5rem;
  border-bottom: 0.1px solid rgb(113, 0, 255);
  margin-right: 10rem;
  margin-left: 10rem;
}

.toolRanking {
  margin-left: 2%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100%;
  font-size: 10rem;
  color: white;
  background: -webkit-linear-gradient(rgb(113, 0, 255), rgb(197, 0, 255));
}

.toolFollowUp {
  margin-left: 10%;
}

.player_name {
  font-size: 50px;
  font-weight: 100;
}

.player_score {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80px;
  height: 80px;
  font-size: 70px;
  font-weight: 900;
  border-radius: 10%;
  background-color: rgb(113, 0, 255);
  color: white;
  cursor: pointer;
  transition: 1s;
}

.player_score:hover {
  background-color: rgb(255, 133, 255);
  color: rgb(113, 0, 255);
  box-shadow: -10px -10px;
}

.player_pic {
  border-radius: 10%;
}

.matchTableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.matchTable {
  border: solid grey 1px;
  width: 80%;
}
